version: '3.8'

services:
  postgres:
    image: postgis/postgis:17-3.4-alpine
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: care_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data: